$blackColor: rgb(34, 34, 34);

.header {
  height: 12vh;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $blackColor;
  color: white;
  user-select: none;
  position: relative;
  z-index: 3;

  &__logo {
    display: flex;
    justify-content: center;
    flex: 1;

    span {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__controls {
    display: flex;
    flex: 1;
    justify-content: space-around;

    .control-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      input.slider {
        -webkit-appearance: none;
        background: transparent;
        margin-top: 0.75rem;
        background-color: rgb(95, 95, 95);
        height: 4px;
        border-radius: 5px;
        outline: none;
        width: 95%;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: 2px solid #979797;
          height: .875rem;
          width: .875rem;
          border-radius: 50%;
          background: #ffffff;
          cursor: pointer;
          box-shadow: 0 0 4px 2px rgba(48, 48, 48, 0.3);
          transition: filter 150ms ease-in-out;

          &:hover {
            filter: brightness(.85);
          }
        }
      }
    }
  }

  &__options {
    display: flex;
    justify-content: space-evenly;
    flex: 2;

    span {
      cursor: pointer;
      padding: 5px;
      position: relative;

      // button hover effect
      &::before, &::after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 1px;
        background: #FFF;
        content: "";
        opacity: 0;
        transition: all 0.3s;
      }

      &::before {
        top: 0px;
        transform: translateY(-10px);
      }

      &::after {
        bottom: 0px;
        transform: translateY(10px);
      }

      &:hover::before, &:hover::after {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  &__btn-container {
    flex: 0.6;
    display: flex;
    justify-content: flex-start;

    button {
      background: transparent;
      border: 1px solid white;
      cursor: pointer;
      outline: none;
      overflow: hidden;
      padding: 20px 30px;
      position: relative;

      &::after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        width: 50px;
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transform: rotate(35deg);
            -ms-transform: rotate(35deg);
                transform: rotate(35deg);
        z-index: -10;
      }

      &:hover::after {
        left: 120%;
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }

      span {
        color: white;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        z-index: 5;
      }
    }
  }
}

// responsiveness goes here :)
@media only screen and (max-width: 768px) {
  .header {
    &__logo {
      span {
        font-size: 16px;
      }
    }

    &__controls {
      span {
        font-size: 12px;
      }

      .control-container {
        input.slider {
          width: 80%;

          &::-webkit-slider-thumb {
            height: 0.625rem;
            width: 0.625rem;
            border: 1px solid #979797;
          }
        }
      }
    }

    &__options {
      span {
        font-size: 13px;
      }
    }

    &__btn-container {
      button {
        font-size: 8px;
        padding: 10px 4px;
        letter-spacing: 1px;
      }
    }
  }
}
