$redColor: #F1413D;
$yellowColor: #FBB243;
$greenColor: #328849;

main {
    width: 100%;
    height: 88vh;
    background: #E6E7EE;
    display: flex;

    .important-info-container {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        span {
            margin: 0px 30px;
            text-align: center;
        }
    }

    .visualizer-container {
        margin: auto;
        background: whitesmoke;
        height: 88vh;
        display: flex;
        justify-content: center;
        flex: 1;
        max-width: 80%;

        div {
            border: 1px solid transparent;
            margin-left: 1px;
            background: rgb(225, 186, 253);
        }
    }

    .additional-info-container {
        padding: 0 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
    }
}

// classes for javascript
.disableButtonsAndInputs {
    pointer-events: none;
    opacity: 0.7;
}

.enableButtonsAndInputs {
    pointer-events: all;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    main {
        .important-info-container {
            span {
                font-size: 14px;
            }
        }

        .visualizer-container {
            max-width: 90%;
            overflow-x: scroll;
        }
    }
}

@media only screen and (max-width: 425px) {
    main {
        .important-info-container,
        .additional-info-container {
            display: none;
        }
        .visualizer-container {
            max-width: 100%;
        }
    }
}
