$redColor: #F1413D;
$yellowColor: #FBB243;
$greenColor: #328849;

main {
    width: 100%;
    height: 88vh;
    background: #E6E7EE;
    display: flex;

    #important-info-container {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        span {
            margin: 0px 30px;
            text-align: center;
        }
    }

    #visualizer-container {
        width: 80%;
        margin: auto;
        background: whitesmoke;
        height: 88vh;
        display: flex;
        justify-content: center;

        div {
            border: 1px solid transparent;
            margin-left: 1px;
            background: rgb(225, 186, 253);
        }
    }

    #additional-info-container {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// github container
#github-link-container {
    bottom: 0;
    margin-right: 10px;
    position: absolute;
    right: 0;

    img {
        height: 40px;
    }
}

// classes for javascript
.disableButtonsAndInputs {
    pointer-events: none;
    opacity: 0.7;
}

.enableButtonsAndInputs {
    pointer-events: all;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    main {
        #visualizer-container {
            max-width: 90%;
            overflow-x: scroll;
        }
    }
}