$redColor: #f1413d;
$yellowColor: #fbb243;
$greenColor: #328849;

main {
  width: 100%;
  height: 88vh;
  background: #e6e7ee;
  display: flex;

  #important-info-container {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    span {
      margin: 0px 30px;
      text-align: center;
    }
  }

  #visualizer-container {
    width: 80%;
    margin: auto;
    background: whitesmoke;
    height: 88vh;
    display: flex;
    justify-content: center;
    overflow: scroll;

    div {
      border: 1px solid transparent;
      margin-left: 1px;
      background: rgb(225, 186, 253);
    }
  }

  #additional-info-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// github container
#github-link-container {
  bottom: 0;
  margin-right: 10px;
  position: absolute;
  right: 0;

  img {
    height: 40px;
  }
}

// classes for javascript
.disableButtonsAndInputs {
  pointer-events: none;
  opacity: 0.7;
}

.enableButtonsAndInputs {
  pointer-events: all;
  opacity: 1;
}

@media only screen and (max-width: 1400px) {
  main {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
    main {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    main {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    main {
      #important-info-container {
          width: 15%;
      }

      #visualizer-container {
          width: 75%;
      }
    }
  }
  
  @media only screen and (max-width: 1000px) {
    main {
        #visualizer-container {
            justify-content: flex-start;
        }
    }
  }
  
  @media only screen and (max-width: 768px) {
    main {
        #visualizer-container {
            width: 100%;
        }

        #additional-info-container {
            display: none;
        }

        #important-info-container {
            display: none;
        }
    }
  }
  