$lightGreen: #8ece44;

#extra-algos-sidebar-container {
    #extra-algos-container {
        position: absolute;
        width: 15%;
        height: 88vh;
        bottom: 0;
        background-color: #222222;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(-100%);
        transition: 0.3s ease-in-out;

        span {
            color: white;
            cursor: pointer;
            padding: 5px;
            position: relative;
            text-align: center;

            &::before, &::after {
                position: absolute;
                left: 0px;
                width: 100%;
                height: 1px;
                background: #FFF;
                content: "";
                opacity: 0;
                transition: all 0.3s;
            }

            &::before {
                top: 0px;
                transform: translateY(10px);
            }

            &::after {
                bottom: 0px;
                transform: translateY(-10px);
            }

            &:hover::before, &:hover::after {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    #extra-algos-container-toggler {
        background-color: #222222;
        border: 0;
        border-radius: 50px;
        bottom: 0;
        cursor: pointer;
        left: 0;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 10px 20px;
        padding-bottom: 0;
        position: absolute;
        z-index: 1;
    }
}

@media only screen and (max-width: 1268px) {
    #extra-algos-sidebar-container {
        #extra-algos-container {
            width: 50%;

        span {
            font-size: 14px;
        }
        }
    }

    #extra-algos-container-toggler {
        img {
            height: 20px;
        }
    }
}

@media only screen and (max-width: 856px) {
    #extra-algos-container {
        span {
            font-size: 12px;
        }
    }
}