div.container a {
  color: rgb(24, 187, 24);
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.gray {
  background: none;
}


div.highlightTextIn a:before {
  position: absolute;
  /*color: #FFF;*/
  color: lightgreen;
  top: 0px;
  left: 0px;
  padding: 10px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.5s;
  transform: scale(0.8);
  opacity: 0;
}


div.highlightTextIn a:hover:before {
  transform: scale(1);
  opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a {
  color: white;
}

div.highlightTextIn a:before {
  transform: scale(1.5);
}
