* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

div#notice {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 0px 20px;
  text-align: center;
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  visibility: hidden;
  z-index: 3;
}
div#notice span {
  color: white;
}

@media only screen and (max-width: 425px) {
  header,
main {
    display: none;
  }

  div#notice {
    visibility: visible;
  }
}
.header {
  height: 12vh;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222222;
  color: white;
  user-select: none;
  position: relative;
  z-index: 3;
}
.header__logo {
  display: flex;
  justify-content: center;
  flex: 1;
}
.header__logo span {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.header__controls {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.header__controls .control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__controls .control-container input.slider {
  -webkit-appearance: none;
  background: transparent;
  margin-top: 0.75rem;
  background-color: #5f5f5f;
  height: 4px;
  border-radius: 5px;
  outline: none;
  width: 95%;
}
.header__controls .control-container input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #979797;
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 4px 2px rgba(48, 48, 48, 0.3);
  transition: filter 150ms ease-in-out;
}
.header__controls .control-container input.slider::-webkit-slider-thumb:hover {
  filter: brightness(0.85);
}
.header__options {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}
.header__options span {
  cursor: pointer;
  padding: 5px;
  position: relative;
}
.header__options span::before, .header__options span::after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.header__options span::before {
  top: 0px;
  transform: translateY(-10px);
}
.header__options span::after {
  bottom: 0px;
  transform: translateY(10px);
}
.header__options span:hover::before, .header__options span:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
.header__btn-container {
  flex: 0.6;
  display: flex;
  justify-content: flex-start;
}
.header__btn-container button {
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  padding: 20px 30px;
  position: relative;
}
.header__btn-container button::after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  z-index: -10;
}
.header__btn-container button:hover::after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.header__btn-container button span {
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 5;
}

@media only screen and (max-width: 768px) {
  .header__logo span {
    font-size: 16px;
  }
  .header__controls span {
    font-size: 12px;
  }
  .header__controls .control-container input.slider {
    width: 80%;
  }
  .header__controls .control-container input.slider::-webkit-slider-thumb {
    height: 0.625rem;
    width: 0.625rem;
    border: 1px solid #979797;
  }
  .header__options span {
    font-size: 13px;
  }
  .header__btn-container button {
    font-size: 8px;
    padding: 10px 4px;
    letter-spacing: 1px;
  }
}
.github-link-container {
  bottom: 0;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
.github-link-container img {
  height: 40px;
}

main {
  width: 100%;
  height: 88vh;
  background: #E6E7EE;
  display: flex;
}
main .important-info-container {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .important-info-container span {
  margin: 0px 30px;
  text-align: center;
}
main .visualizer-container {
  width: 80%;
  margin: auto;
  background: whitesmoke;
  height: 88vh;
  display: flex;
  justify-content: center;
}
main .visualizer-container div {
  border: 1px solid transparent;
  margin-left: 1px;
  background: #e1bafd;
}
main .additional-info-container {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disableButtonsAndInputs {
  pointer-events: none;
  opacity: 0.7;
}

.enableButtonsAndInputs {
  pointer-events: all;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  main .visualizer-container {
    max-width: 90%;
    overflow-x: scroll;
  }
}
.extra-algos-sidebar__container {
  position: absolute;
  width: 15%;
  height: 88vh;
  bottom: 0;
  background-color: #222222;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translate(-100%);
  transition: 0.3s ease-in-out;
}
.extra-algos-sidebar__button {
  color: white;
  cursor: pointer;
  padding: 5px;
  position: relative;
}
.extra-algos-sidebar__button::before, .extra-algos-sidebar__button::after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.extra-algos-sidebar__button::before {
  top: 0px;
  transform: translateY(10px);
}
.extra-algos-sidebar__button::after {
  bottom: 0px;
  transform: translateY(-10px);
}
.extra-algos-sidebar__button:hover::before, .extra-algos-sidebar__button:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
.extra-algos-sidebar__toggler {
  background-color: #222222;
  border: 0;
  border-radius: 50px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  padding-bottom: 0;
  position: absolute;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
